/* .App {
  
} */

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.logo {
  width: 50%;
  height: 30%;
}

.pod-logo {
  width: 70%;
  height: 50%;
}

.team-image {
  width: 50vw;
}

h2 {
  font-size: 2rem;
  color: black;
}

.link-list {
  width: 100%;
  display: block;
  text-align: left;
  text-indent: 10vh;
  padding: 0px;
  background-color: rgb(228, 228, 228);
  margin: 0px;

}

.link {
  list-style: none;
  margin-top: 2vh;
}

.description {
  font-size: 18px;
  color: black;
}